transformers==4.38.2
sentencepiece>=0.1.99
protobuf==3.20.3
datasets==2.19.0
sacrebleu==2.4.0
rouge_score==0.1.2
pandas==2.2.2
nltk==3.8.1
tqdm==4.66.2
PyYAML==6.0.1
matplotlib==3.8.4
torch==2.2.2
scipy==1.11.4
notebook==7.1.1
boto3==1.34.98
ensure==1.0.2
fastapi==0.78.0
uvicorn==0.18.3
Jinja2==3.1.2
# -e .
